@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Protest+Revolution&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:honeydew;
}

/* Ejercicio N°1 */

.seccion1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    padding: 5%;
}

.seccion1 h2{
    font-size: 35px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#imagen1 {
    max-height: 90%;
    max-width: auto;
}

.modificar {
    border: 2px red solid;
}

#imagen1:hover{
    cursor: pointer;
}


/* Ejercicio N°2 */

.seccion2 {
    grid-area: seccion2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
}

.seccion2 h3{
    font-size: 35px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.seccion2 button{
    width: 250px;
    height: 75px;
    
}

.Stickers {
    background-color: darkgrey;
    display: flex;
    gap: 25px;
    padding: 10px;
    border: black solid 2px;
}


.Stikers1 {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Stikers2 {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Stikers3 {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Stikers1 img {
    max-width: 100%;
    height: 85%;
    border: black solid 1px;
}

.Stikers2 img {
    max-width: 100%;
    height: 85%;
    border: black solid 1px;
}

.Stikers3 img {
    max-width: 100%;
    height: 85%;
    border: black solid 1px;
}

.mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mensaje button {
    font-size: 20px;
    border-radius: 300px;
}

.mensaje button:hover {
    cursor: pointer;
}

/* Ejercicio N°3 */

.seccion3 {
    grid-area: seccion3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.seccion3 h3 {
    font-size: 35px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 800px;
    font-style: normal;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: brown solid 3px;
    padding: 20px;
}

#digito1, #digito2, #digito3 {
    width: 35px;
    height: 35px;
}

.ingresar {
    width: 100px;
    height: 30px;
}

.ingresar:hover {
    cursor: pointer;
}



.contenedor {
    display: grid;

    grid-template-areas:
    'seccion1'
    'seccion2'
    'seccion3';

    grid-template-rows: 500px 700px 300px;
}


